.main-container{
    padding: 5px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.embed-container{
    width: 495px;
    height:auto;
    margin:5px;
    padding: 5px;
    float:left;
    
}

.embed-container img{
    width: 100%;
    
}

.text-container{
    float: left;
    width: 650px;
    height: 160px;
    margin: 5px;
    padding:5px;
    
}
